body {
    background-color: #A4AC86;
    text-align: center;
    color: #656D4A;
    font-family: trebuchet ms;
    
}

a {
 color: #936639;
 text-decoration: none;
}

a:hover {
    color: #A68A64;
}

main {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}


@media screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}