/* CSS Variables */
@charset "utf-8";
:root{
	--primary: #8FBC8B;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
	box-sizing: border-box;
	font-family: "Trebuchet MS', 'Lucida Sans Unicode",
	'Lucida Grande',
	'Lucida Sans', Arial, sans-serif;
	color: #000;
}
body {
	background: #8A9A5B;
	margin: 30px 30px;
	line-height: 1.4x;
}

button{ 
padding: 1rem 3rem;
font-size: 1rem;
border: none;
color: #000;
background: #FFF;
cursor: pointer;
border-radius: 50px;
}

button:hover {
	background: #000;
	color: #fff;
}

img{
	max-width: 100%;
}

.wrapper{
	display: grid;
	grid-gap: 20px;
}

	.logo{
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	padding: 0 2rem;
}
/* navigation */
.main-nav ul{
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a{
	background: #FFF;
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: #000;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
}

.main-nav a:hover{
	background: var(--dark);
	color: #98BF64;
}


/* Top container */
.top-container{
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	'showcase showcase top-box-a'
	'showcase showcase top-box-b'
	'showcase showcase boxes'
	'showcase showcase information'
	'showcase showcase portfolio';
}

/* showcase */
.showcase{
	grid-area: showcase;
	min-height: 550px;
	background: url("plants.jpg");
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.showcase h1{
	font-size: 5rem;
	margin-bottom: 0;
	align-items: center-align;
	color: var(--light);
}

.showcase p{
	font-size: 1.3rem;
	align-items: center;
	margin-top: 10px;
	color: var(--light);
}

/* Top box */
.top-box{ 
background: var(--primary);
display: grid;
align-items: center;
justify-items: center;
box-shadow: var(--shadow);
padding: 1.5rem;
}
.top-box .price{
	font-size:2.5rem;
}

.top-box-a{
	grid-area: top-box-a;
}

.top-box-b{
	grid-area: top-box-b;
}

/* boxes */
.boxes{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box{
	background: var(--primary);
	border: 1px solid #000;
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow: var(--shadow);
}

/* info */
.information{
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	padding: 3rem;
}
	

/* portfolio */
.portfolio{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img{
	width: 100%;
	float: none;
	box-shadow: var(--shadow);
}

/* footer */
footer {
	width: 100%;
	height: 100px;
	padding: 20px 80px;
	margin: 0px 0px;
	background: #FFF;
	text-align: center;
}

footer p{
	color: #000;
	margin: 20px auto;
}

@media (max-width: 700px){
	.top-container{
		grid-template-areas:
		'showcase showcase'
		'top-box-a top-box-b';
	}
	
	.showcase h1{
		font-size: 2.5rem;
	}
	
	.main-nav ul{
		grid-template-columns: 1fr;
	}
	.info{
		grid-template-columns: 1fr;
	}
}

@media(max-width: 500px){
	.top-container{
		grid-template-areas:
		'showcase'
		'top-box-a'
		'top-box-b';
	}
}
	
	
