*
{
margin: 0;
padding: 0;
font-family: "Trebuchet MS', 'Lucida Sans Unicode",
	'Lucida Grande',
	'Lucida Sans', Arial, sans-serif;
box-sizing: border-box;
}
nav{
	height: 80px;
	background: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem calc((100vw - 1300px) / 2);
}
nav a{ 
text-decoration: none;
color: #000;
padding: 0 1.5rem;
}

nav a:hover{
	color: #98BF64;
}
body{
	width: 100vw;
	height: 100vh;
	background: #8A9A5B;
	padding: 0 8%;
}
.logo{
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	padding: 0 2rem;
}
.content{
	top:50%;
	position: absolute;
	color: #fff;
}

.content h1{
	font-size: 45px;
	font-weight: 600;
}
.launch-time{
	display: flex;
}
.launch-time div{
	flex-basis: 100px;
}
.launch-time div p{
	font-size: 60px;
	margin-bottom: 0px;
}
	

