body {
    margin: 0;
    font-family: 'montserrat';
    text-align: center;
    color:#3d4324;
    background-color: #F2E9E4;
}

#navbar {
    position: wrap;
    top: 0;
    width: 100%;
    background: #373b25;
    padding: 5px 0;
}

#navbar a {
    color: #354106;
    text-decoration: none;
    font-size: 16px;
}

.button {
    background-color: #F2E9E4;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    text-decoration: none; 
    display: inline-block; 
}

.button:hover {
    background-color: #b3aba7;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.15);
}


.soft-divider {
    border: none;
    height: 1px;
    background: #3d4324; /* soft olive tone with low opacity */
    margin: 50px auto;
    width: 80%;
}

h1 {
    font-family: Fleur De Leah;
    font-size: 3.5rem;
    color: #5b6538;
    margin: 20px 0;
}

h2 {
    font-weight: 500;
}

.welcome {
 margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    position: wrap;
    padding: 10px 0;
    width: 100%;
    background: #656D4a;

}

img {
    width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.next-button {
    margin: 40px 0;
}

.next-button a {
    display: inline-block;
    background-color: #5b6538;
    color: #F2E9E4;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.next-button a:hover {
    background-color: #414b29;
}

@media (max-width: 600px) {
    #navbar ul {
        flex-direction: column;
    }
    #navbar li {
        margin: 5px 0;
    }
}
