body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #3d4324;
    background-color: #F2E9E4;
  }
  
  img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  h1 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 3.5rem;
    color: #5b6538;
    margin: 20px 0;
  }
  
  h2 {
    font-weight: 500;
  }
  
  /* Navbar */
  #navbar {
    top: 0;
    width: 100%;
    background: #373b25;
    padding: 5px 0;
  }
  
  #navbar a {
    color: #354106;
    text-decoration: none;
    font-size: 16px;
  }
  
  .button {
    background-color: #F2E9E4;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: inline-block;
  }
  
  .button:hover {
    background-color: #b3aba7;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Welcome Section */
  .welcome {
    margin-bottom: 50px;
  }
  
  .soft-divider {
    border: none;
    height: 1px;
    background: #3d4324;
    margin: 50px auto;
    width: 80%;
  }
  
  /* Footer */
  footer {
    margin-top: 50px;
    padding: 10px 0;
    width: 100%;
    background: #656D4a;
  }
  
  /* Next Button */
  .next-button {
    margin: 40px 0;
  }
  
  .next-button a {
    display: inline-block;
    background-color: #5b6538;
    color: #F2E9E4;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .next-button a:hover {
    background-color: #414b29;
  }
  

  /* About Page */
  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E9E5DC;
    padding: 50px;
    gap: 30px;
    position: relative;
  }
  
  .about-image img {
    width: 350px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
  }
  
  .about-text {
    max-width: 600px;
    text-align: left;
    color: #5b6538;
    transform: translateY(-20px);
  }
  
  .about-text h2 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  

  /* Portfolio */
  .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gallery img:hover {
        transform: scale(1.50);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  }
  

/* Services */
.services-list {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f7f6;
    border-radius: 10px;
}

.services-list h3 {
    margin-top: 30px;
    color: #5b6538;
}

.services-list p {
    margin-top: 10px;
    line-height: 1.6;
    color: #3d4324;
    font-size: 16px;
}

.services-list hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.services-list a {
    color: #3d4324;
}
.bottom_contact {
    background-color: #E9E5DC;
    padding: 40px 0;
    text-align: center;
}

.bottom_contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.bottom_contact a {
    color: #3d4324;
}



/*Contact*/
#survey-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  #survey-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #survey-form input[type="text"],
  #survey-form input[type="email"],
  #survey-form select,
  #survey-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat';
  }
  
  #survey-form textarea {
    height: 100px;
    font-family: 'Montserrat';
  }
  
  #submit {
    background-color: #5b6538;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat';
  }
  
  #submit:hover {
    background-color: #414b29;
  }


   /* Responsive Design */
   @media (max-width: 768px) {
    #navbar ul {
        display: flex;
      flex-direction: column;
    }
  
    #navbar li {
      margin: 5px 0;
    }
  
    .about-section {
      flex-direction: column;
      text-align: center;
    }
  
    .about-text,
    .about-image img {
      transform: none;
    }
}