<nav>
    <a href="https://webpages.charlotte.edu/tchavi12/">Charlotte.edu</a>
    ||
    <a href="https://github.com/TaylorChavis/TaylorChavis.github.io">Github</a>
    ||
    <a href="https://taylorchavis.github.io/">Github.io</a>
    ||
    <a href="https://www.linkedin.com/in/taylorchavis/">Linkedin</a>
    ||
    <a href="https://webpages.charlotte.edu/tchavi12/whimsical">Whimsical Company</a>
    ||
    <a href="project_overview.html">Client Project Overview</a>
    ||
    <a href="https://webpages.charlotte.edu/tchavi12/itis3135/projects/">Client Project</a>
    ||
    <a href="review1.html">Peer Review 1</a>
    ||
    <a href="review2.html">Peer Review 2</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="websiteevals.html">Website Evaluation</a>
    ||
    <a href="byo.html">BYO Intro</a>
</nav>
<p>Page Built by <a href="https://webpages.charlotte.edu/tchavi12/itis3135/chavisincorporated.com/">Chavis Incorporated, </a><a href="https://freecodecamp.org/certification/TaylorChavis/responsive-web-design">Certified in Responsive Web Design, </a><a href="https://www.freecodecamp.org/certification/TaylorChavis/javascript-algorithms-and-data-structures-v8">Certified in JS</a>&copy; 2025 </p>
